{% extends "base.html" %}
{% block page_content %}
<title>Home | Stuart Rankin</title>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <h1 class="cover-heading">Stuart Rankin</h1>
    <h2>4th Year Student</h2>
{% load static %}
<!--    <img src="{% static 'portfolio/bird.jpg' %}" class="rounded-circle">-->
    <h2>About Me</h2>
    <p class="lead">I am Stuart Rankin, a 4th year Ethical Hacking student at Abertay University. Here you will find some posts on the projects I've worked on either in my free time or as part of various University modules. </p>
    <p>Please note that this site is a work in progress.</p>
</div>
{% endblock %}
